//----- end---------breadcrum ----------
//--------- start-----t-header----------
.t-header-title {
    margin-top: 150px;
    p {
        border-radius: 7px;
    }
}

//---------end----t-header-------------
.slidw {
    margin: 0px auto;
    margin-top: -7px;
}

//------start---- titlte-number -------------
.title-number {
    font-size: 100px;
    user-select: none;
}

//------end---- titlte-number -----------
//------------------
.d-imge {
    user-select: none;
    img {
        height: 300px;
    }
}

//-----------------
.d-content-text1 {
    p {
        border-radius: 7px;
        direction: rtl;
    }
}